services:
  # this is used for for rsync file transfer of leaderboard html files, not part of tm-csv-connector core functionality
  crond:
    image: louking/tm-csv-connector-app:${APP_VER}
    user: root
    secrets:
      - db-password
    restart: always
    depends_on:
      - db
    networks:
      - backend-network
    volumes:
      - ./config/cronjobs:/etc/crontabs/appuser
      - ${BACKUP_FOLDER_HOST}/tmsim:/backup
    environment:
      - TZ=${TZ}
    command: ["crond", "-f", "-d", "8"]

secrets:
  db-password:
    file: config/db/root-password.txt
