{% extends "datatables.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock %}
{% block css %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/chipreads.js"></script>
    {{ super() }}
{% endblock %}