{% extends "layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock %}
{% block css %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="static/control.js"></script>
{% endblock %}
{% block body %}
    <div class="row">
        <button id="connect-disconnect" type="button">placeholder</button>
    </div>
    <div class="row">
        <label for="port">Port *</label>
        <select id="port" name="port" class="validate" required aria-required="true" onchange="setParams()">
            <option value="" required disabled selected>Select port</option>
            <option value="COM3">COM3</option>
            <option value="COM4">COM4</option>
            <option value="COM8">COM8</option>
        </select>
    </div>
    <div class="row">
        <label for="outputdir">Output Directory *</label>
        <input id="outputdir" type="text" name="outputdir" class="validate" required aria-required="true" onchange="setParams()">
    </div>
{% endblock %}