{% extends "layout-base.jinja2" %}
{% block nav %}
    {# standard nav uses flask-nav #}
    {% if nav %}
        <input id="main-menu-state" type="checkbox" />
        <label class="main-menu-btn" for="main-menu-state">
          <span class="main-menu-btn-icon"></span> Toggle main menu visibility
        </label>

        {# note smartmenu classes are added using jquery in layout.js because nav doesn't provide api for that #}
        {{ nav.nav_menu.render(id='navigation', renderer='nav_renderer') }}
    {% endif %}
{% endblock %}

{% block metanav %}
      {# used by layout.js, needs to be urlencoded else may look like tag #}
      <span id="metanav-url-rule" hidden>{{ request.url_rule | urlencode }}</span>
      {% if url_rule %}
        <span id="metanav-url-rule-filtered" hidden>{{ url_rule | urlencode }}</span>
      {% endif %}
    </div>
{% endblock %}

{% block signin %}
{% endblock %}