# sync leaderboards to web server
# * * * * *              rsync -e ssh /leaderboards/* $RSYNC_DEST_USER@$RSYNC_DEST_HOST:$RSYNC_DEST_PATH
# * * * * * ( sleep 30 ; rsync -e ssh /leaderboards/* $RSYNC_DEST_USER@$RSYNC_DEST_HOST:$RSYNC_DEST_PATH )
